.checkout{
    display:flex;
    background-color: #E7E0F5;
    height:max-content;
    padding:20px;
}
.checkout--title{
    border: 2px solid #d6d9df;
    padding: 18px;
    background-color: #e6f3ff;
    color:cornflowerblue;

}
.checkout--left{
background-color:#E7E0F5;
}
.checkout--right{
    background-color:#735893d4;
    margin-left: 2px;
}
.checkout--adv{
    width:100%;
}