.payment{
    background-color:#dfebf1;
}

.payment--container {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: aliceblue;
    border-bottom: 1px solid lightgray;
}

.payment--section{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    margin: 0 20px
}

.payment--address{
    flex: 0.2;
}

.payment--details {
    flex:0.8;
}

.payment--details form{
    margin: 10px;
}

.payment-btn{
    padding: 8px 90px;
    border: 1px solid #F7CA00;
    background-color: #F7CA00 ;
    border-radius: 8px;
    cursor: pointer;

}